
<div id="boundary" class="design-boundary">

  <div *ngFor="let item of page.items" class="move-box" cdkDragBoundary=".design-boundary" cdkDrag (cdkDragEnded)="drop($event,item)" [cdkDragFreeDragPosition]="item.dragPosition">

    <component-base class="no-events" [item]="item"></component-base>
    <button style="top: 20%;position:absolute; right: 4%" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="editItem(item)">
      <mat-icon>edit</mat-icon>
    </button>
    <button style="top: 20%;position:absolute; right: 1%" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="deleteItem(item)">
      <mat-icon>delete</mat-icon>
    </button>

  </div>


</div>


<div class="item-bar">
  <mat-form-field appearance="fill" class="w-100">

      <mat-icon matPrefix>search</mat-icon>

    <mat-label>Find Component</mat-label>
    <input matInput [type]="'text'">
  </mat-form-field>
  <button *ngFor="let item of keys(componentTypes)" mat-button class="w-100" aria-label="Example icon-button with menu icon" (click)="addItem(item)">
    {{item}}
  </button>
</div>


